/* 	file name: grid.css *
	defining grids for the site
*/

/* when there is a class that contain col-, apply this styling */
.wrapper
{
	width: 80%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
}

/* when there is a class that contain col-, apply this styling */
[class*='col-']
{
	float: left;
	margin: 0;
}

#top
{
	width: 100%;
	display: inline-block;
}

.logo
{
	width: 40%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	float: left;
}

.buttons
{

	width: 60%;
	padding-right: 1rem;
	float: left;
}

.menu
{
	width: 20%;
	float: right;
	display: inline-block;
	margin-top: 2.4rem;
	margin-bottom: 2rem;
	text-align: center;
	padding-left: 0.3rem;
}

.menu a
{
	width: 100%;
}

.col-1of1
{
	width: 100%;
	margin-top: 1rem;
	padding: 0 1rem;
}

.col-1of2 
{
	width: 50%;
	padding-right: 1rem;
	margin-top: 1rem;
}

.col-1of2-padding
{
	width: 50%;
	padding: 0 1rem;
	margin-top: 1rem;
}

.col-1of3 
{
	width: 33.333%;
	padding: 1rem;
}

/* styling 2 column grid with different width */
.col-1of2left
{
	width: 65%;
	padding: 0 1rem;
}

.col-1of2left h2
{
	padding-bottom: 1rem;
}

.col-1of2right
{
	width: 35%;
	padding-right: 1rem;
}

.linkButton
{
	float: right;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.linkButtonLeft
{
	float: left;
	margin-top: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.linkInsideLabel
{
	float: right;
}

.floatingBox
{
	background-color: white;
	padding: 1rem;
	margin: 1rem 0;
	overflow: auto;
}

.brownLabel
{
	background-color: #ac9d8a;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	color:white;
}

.brownLabel h3
{
	display: inline-block;
	margin-right: 1rem;
	padding: 0.7rem 0;
}

.lightGrayLabel
{
	background-color: #f7f7f7;
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
	overflow: auto;
}

.lightGrayLabel figure
{
	/*margin-right: 0.5rem;*/
}

/* after the class grid, clear styling */
.grid:after
{
	content: "";
	display: block;
	clear: both;
}

/* specify that all objects use the border-box model */
*, *:after, *:before
{
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --------------------------------------- FOOTER ----------------------------------------------- */

#footer
{
	text-align: center;
	padding: 0.1em;
	background-color: #84745f;
	color: white;
}

/* ----------------------------------- MEDIA QUERY ------------------------------------------------- */

/* when the display has a width less than 490px */
@media (max-width:1070px) 
{
	.buttons
	{
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.menu
	{
		margin-bottom: 0.5rem;
		margin-top: 0;
		padding-left: 1rem;
		width: 100%;
	}

	.menu a
	{
		width: 100%;
	}

	/* make the carousel image dissapear */
	.carouselImage
	{
		display: none;
	}

	.logo
	{
		width: 100%;
	}

	.col-1of2
	{
		width: 100%;
		padding-left: 1rem;
	}

	.optionContent figure
	{
		width: 100%;
	}

	.body
	{
		background-size: auto 100%;
	}

	.col-1of2-padding
	{
		width: 100%;
		margin-bottom: 1rem;
	}

	.linkButton
	{
		width: 100%;
		text-align: center;
		margin-top: 0.5rem;
	}

	.linkButton a
	{
		width:100%;
	}

	.viewMoreButton
	{
		text-align: center;
	}

	.brownLabel
	{
		text-align: center;
	}

	.brownLabel a
	{
		margin-top: 0.5rem;
		width: 100%;
	}

	.wrapper
	{
		width: 90%;
	}
}

@media (max-width:850px)
{
	.col-1of2left
	{
		width: 100%;
		padding-right: 0;
	}

	.col-1of2right
	{
		width: 100%;
	}

	.detailContent .col-2of2
	{
		width: 100%;
	}

	.col-1of2left .floatingBox
	{
		margin-right: 1rem;
	}

	.col-1of2right
	{
		padding-left: 1rem;
	}
}

@media (max-width:1210px)
{
	.detailContent .col-1of4
	{
		width: 50%;
	}
}

@media (max-width:625px)
{
	.detailContent .col-1of4
	{
		width: 100%;
	}

	.linkInsideLabel
	{
		width: 100%;
		margin-top: 0.5rem;
	}

	.linkInsideLabel a
	{
		width: 100%;
	}

	.optionBottomBar
	{
		overflow: auto;
		text-align: center;
	}
}

/* --------------------------------------- PACKAGES PAGE ----------------------------------------- */

div .optionContent
{
	padding: 1rem;
	background: white;
}

.optionContent h2
{
	margin: 1rem 0;
}

.optionContent figure
{
	display: inline-block;
}

.optionContent p
{
	display: inline-block;
}

.optionBottomBar
{
	padding: 1rem;
	background-color: #b7b7b7;
	color: white;
}

.optionBottomBar h2
{
	display: inline-block;
	margin-right: 0.3rem;
}

.optionBottomBar h5
{
	display: inline-block;
}

.optionBottomBar a
{
	display: inline-block;
	float: right;
}

.viewMoreButton
{
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 100%;
}

.viewMoreButton a
{
	width: 100%;
}

/* -------------------------------------- VACATION WIZARD ----------------------------------------- */

.floatingBox h3
{
	margin-bottom: 0.3rem;
}

/* -----------------------------------------VACATION DETAIL---------------------------------------- */

.whiteWrapper
{
	background-color: white;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	overflow: auto;
}

.detailContent
{
	background-color: #f7f7f7;
	margin-top: 0.5rem;
	display: inline-block;
	width: 100%;
}

.col-2of2
{
	width: 50%;
	display: inline-block;
	padding: 1rem;
}

.col-2of2 h4
{
	border-bottom: 2px solid #b7b7b7;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

/* --------------------------------------- VACATION CONFIRMATION ----------------------------------- */

.col-1of4
{
	width: 25%;
	padding:  0.5rem 1rem;
	display: inline-block;
}

.col-1of4 figure
{
	display: inline-block;
	margin-right: 0.5rem;
}

.col-1of4 p
{
	display: inline-block;
}

.boxLabel
{
	border-bottom: 2px solid #b7b7b7;
	padding: 0.5rem 1rem;
	width: 100%;
}