/* 	file name: grid.css *
	defining grids for the site
*/

/* when there is a class that contain col-, apply this styling */
.wrapper
{
	width: 80%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
}

/* when there is a class that contain col-, apply this styling */
[class*='col-']
{
	float: left;
	margin: 0;
}

#top
{
	width: 100%;
	display: inline-block;
	padding: 0 1rem;
}

.col-1of1
{
	width: 100%;
	padding: 0 1rem;
}

.col-1of1 h2
{
	padding-bottom: 1rem;
}

.col-1of2 
{
	width: 50%;
	padding-right: 1rem;
	margin-top: 1rem;
}

.col-1of2-padding
{
	width: 50%;
	padding: 0 1rem;
	margin-top: 1rem;
}

.col-1of3 
{
	width: 33.333%;
	padding-bottom: 1rem;
}

/* styling 2 column grid with different width */
.col-1of2left
{
	width: 65%;
	padding: 0 1rem;
}

.col-1of2left h2
{
	padding-bottom: 1rem;
}

.col-1of2right
{
	width: 35%;
	padding-right: 1rem;
}

/* styling for nav bar button */
.col-1of6
{
	width: 15%;
	padding-left: 0.3rem;
	margin-top: 2.2rem;
	margin-bottom: 1rem;
	text-align: center;
}

.col-1of6 a
{
	width: 100%;
}

.col-1of6 .collapsed
{
	display: none;
}

.col-1of6-logo
{
	width: 25%;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
}

.col-1of6-logo .collapsed
{
	display: none;
}

/* menu inside the content body */
.col-1of6-floatingBox:first-of-type
{
	padding-left: 0;
}

.col-1of6-floatingBox
{
	width: 16.66%;


	padding-left: 0.2rem;
}

.col-1of6-floatingBox a
{
	width: 100%;
	height: 100%;
}

nav.inBody
{
	margin-bottom: 1rem;
	height: 40px;
}

.col-1of4
{
	width:25%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.linkButton
{
	float: right;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.linkButtonLeft
{
	float: left;
	margin-top: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.linkInsideLabel
{
	float: right;
}

.floatingBox
{
	background-color: white;
	padding: 1rem;
	margin: 1rem 0;
	width: 100%;
	overflow: auto;
}

.brownLabel
{
	background-color: #ac9d8a;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	color:white;
}

.brownLabel h3
{
	display: inline-block;
	margin-right: 1rem;
	padding: 0.7rem 0;
}

.lightGrayLabel
{
	background-color: #f7f7f7;
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
	overflow: auto;
}

.lightGrayLabel figure
{
	/*margin-right: 0.5rem;*/
}

/* after the class grid, clear styling */
.grid:after
{
	content: "";
	display: block;
	clear: both;
}

/* specify that all objects use the border-box model */
*, *:after, *:before
{
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --------------------------------------- FOOTER ----------------------------------------------- */

#footer
{
	text-align: center;
	padding: 0.1em;
	background-color: #84745f;
	color: white;
}

/* ----------------------------------- MEDIA QUERY ------------------------------------------------- */

/* when the display has a width less than pixel stated */
@media (max-width:1228px)
{
	.col-1of6 .collapsed
	{
		display: inherit;
	}

	.col-1of6 .menu
	{
		display: none;
	}

	.col-1of6
	{
		margin-top: 1.7rem;
	}

	#gallery-mostpopular h2
	{
		margin-top: 1rem;
	}

	.col-1of6-floatingBox
	{
		width: 33.33%;
		padding-bottom: 0.2rem;
	}

	.col-1of6-floatingBox:nth-of-type(4)
	{
		padding-left: 0;
	}

	nav.inBody
	{
		height: 70px;
	}
}

@media (max-width:1210px)
{
	.detailContent .col-1of4
	{
		padding-top: 1rem;
		width: 50%;
	}
}

@media (max-width:1070px) 
{
	.col-1of2
	{
		width: 100%;
		padding-left: 1rem;
	}

	.body
	{
		background-size: auto 100%;
	}

	.col-1of2-padding
	{
		width: 100%;
		margin-bottom: 1rem;
	}

	.linkButton
	{
		width: 100%;
		text-align: center;
		margin-top: 0.5rem;
	}

	.linkButton a
	{
		width:100%;
	}

	.viewMoreButton
	{
		text-align: center;
	}

	.brownLabel a
	{
		margin-top: 0.5rem;
		width: 100%;
	}

	.wrapper
	{
		width: 90%;
	}

	.travelAnywhere .adButton
	{
		width: 40%;
	}

	.travelAnywhere .adButton:hover
	{
		width: 40%;
	}
}

@media (max-width:850px)
{
	.fixed
	{
		position: relative;
		top: 0;
		width: 100%;
	}

	.col-1of2left
	{
		width: 100%;
		padding-right: 0;
	}

	.col-1of2right
	{
		width: 100%;
	}

	.detailContent .col-2of2
	{
		width: 100%;
	}

	.col-1of2left .floatingBox
	{
		margin-right: 1rem;
	}

	.col-1of2right
	{
		padding-left: 1rem;
	}

	.col-1of4
	{
		width: 100%;
	}

	.col-1of6
	{
		margin-bottom: 0.5rem;
		margin-top: 1rem;
		width: 16.66%;
		padding-left: 0.2rem;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.col-1of6 a
	{
		width: 100%;
		display: inline-block;
	}

	.col-1of6-logo .logo
	{
		display: none;
	}

	.col-1of6-logo .collapsed
	{
		display: inherit;
	}

	.col-1of6-logo
	{
		padding-top: 0.8rem;
		width: 16.66%;
	}
}

@media (max-width:625px)
{
	.detailContent .col-1of4
	{
		width: 100%;
	}

	.linkInsideLabel
	{
		width: 100%;
		margin-top: 0.5rem;
	}

	.linkInsideLabel a
	{
		width: 100%;
	}

	.optionBottomBar
	{
		overflow: auto;
		text-align: center;
	}

	.travelAnywhere .adButton
	{
		width: 60%;
	}

	.travelAnywhere .adButton:hover
	{
		width: 60%;
	}

	.col-1of3
	{
		width: 100%;
	}

	.wrapper
	{
		width: 100%;
	}

	.col-1of6-floatingBox
	{
		width: 50%;
		padding-bottom: 0.2rem;
	}

	.col-1of6-floatingBox:nth-of-type(3)
	{
		padding-left: 0;
	}

	.col-1of6-floatingBox:nth-of-type(5)
	{
		padding-left: 0;
	}

	.col-1of6-floatingBox:nth-of-type(4)
	{
		padding-left: 0.2rem;
	}

	nav.inBody
	{
		height: 110px;
	}
}


/* --------------------------------------- PACKAGES PAGE ----------------------------------------- */

div .optionContent
{
	padding: 1rem;
	background: white;
}

.optionContent h2
{
	margin: 1rem 0;
}

.optionContent figure
{
	display: inline-block;
}

.optionContent p
{
	display: inline-block;
}

.optionBottomBar
{
	padding: 1rem;
	background-color: #b7b7b7;
	color: white;
}

.optionBottomBar h2
{
	display: inline-block;
	margin-right: 0.3rem;
}

.optionBottomBar h5
{
	display: inline-block;
}

.optionBottomBar a
{
	display: inline-block;
	float: right;
}

.viewMoreButton
{
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.viewMoreButton a
{
	width: 100%;
}

/* -------------------------------------- VACATION WIZARD ----------------------------------------- */

.floatingBox h3
{
	margin-bottom: 0.3rem;
}

/* -----------------------------------------VACATION DETAIL---------------------------------------- */

.whiteWrapper
{
	background-color: white;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	overflow: auto;
}

.detailContent
{
	background-color: #f7f7f7;
	margin-top: 0.5rem;
	display: inline-block;
	width: 100%;
}

.col-2of2
{
	width: 50%;
	display: inline-block;
	padding: 1rem;
}

.col-2of2 h4
{
	border-bottom: 2px solid #b7b7b7;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

/* --------------------------------------- VACATION CONFIRMATION ----------------------------------- */

.col-1of4
{
	width: 25%;
	padding:  0.5rem 1rem;
	display: inline-block;
}

.col-1of4 figure
{
	display: inline-block;
	margin-right: 0.5rem;
}

.col-1of4 p
{
	display: inline-block;
}

.boxLabel
{
	border-bottom: 2px solid #b7b7b7;
	padding: 0.5rem 1rem;
	width: 100%;
}

/* --------------------------------------- GALLERY DETAIL ----------------------------------- */

.col-1of3-insight-withmargin
{
	width: 32%;
	margin-left: 2%;
}

.col-1of3-insight
{
	margin-left: 0;
	width: 32%;
}

.col-1of3-insight img
{
	margin-bottom: 0.5rem;
}

h3.insightSection
{
	overflow: auto;
	width: 100%;
	margin-top: 2rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #e3e3e3;
	margin-bottom: 1rem;
}

h3.insightSection:first-of-type
{
	margin-top: 1rem;
}

figure.insight
{
	position: relative;
}

figure.insight > figcaption
{
	position: absolute;
	top: 0;
	background-color: rgba(0,153,153,0.7);
}

figure.insight > figcaption:hover
{
	position: absolute;
	top: 0;
	background-color: rgba(0,102,102,0.7);
}
