/* 	file name: grid.css *
	defining grids for the site
*/

/* when there is a class that contain col-, apply this styling */
.wrapper
{
	width: 80%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.9);
}

/* when there is a class that contain col-, apply this styling */
[class*='col-']
{
	float: left;
	margin: 0;
}

.top
{
	display: inline-block;
	width: 30%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.buttons
{
	display: inline-block;
	float: right;
	margin-right: 1rem;
}

.menu
{
	display: inline-block;
	margin-top: 2.4rem;
	margin-bottom: 2rem;
}

.col-1of1
{
	width: 100%;
	padding: 1rem;
}

/* after the class grid, clear styling */
.grid:after
{
	content: "";
	display: block;
	clear: both;
}

/* specify that all objects use the border-box model */
*, *:after, *:before
{
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* footer grid */
#footer
{
	text-align: center;
	padding: 0.1em;
	background-color: #ac9d8a;
	color: white;
}

/* 
	when the display has a width less than 490px
*/
@media (max-width: 1070px)
{
	.menu
	{
		width: 100%;
		margin: 0;
	}

	.top
	{
		width: 100%;
	}
}