/* 	file name: grid.css *
	defining grids for the site
*/

/* when there is a class that contain col-, apply this styling */
.wrapper
{
	width: 80%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.9);
}

/* when there is a class that contain col-, apply this styling */
[class*='col-']
{
	float: left;
	margin: 0;
}

.top
{
	display: inline-block;
	width: 30%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.buttons
{
	display: inline-block;
	float: right;
	margin-right: 1rem;
}

.menu
{
	display: inline-block;
	margin-top: 2.4rem;
	margin-bottom: 2rem;
}

.grid
{
	padding: 0 1rem;
}

.col-1of1
{
	width: 100%;
	margin-top: 1rem;
}

.col-1of2 
{
	width: 50%;
	margin-top: 1rem;
}

.col-1of3 
{
	width: 33.333%;
	padding: 1rem;
}

.col-1of4
{
	width: 25%;
	padding:  0.5rem 1rem;
	background-color: white;
}

.col-1of4 figure
{
	display: inline-block;
	margin-right: 0.5rem;
}

.col-1of4 p
{
	display: inline-block;
}

/* styling 2 column grid with different width */
.col-1of2left
{
	width: 60%;
	padding-right: 1rem;
	margin-top: 1rem;
}
.col-1of2right
{
	width: 40%;
	margin-top: 1rem;
}

.linkButton
{
	float: right;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.floatingBox
{
	background-color: #e3e3e3;
	padding: 1rem;
	margin-top: 1rem;
}

.grayLabel
{
	background-color: #b7b7b7;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.grayLabel h4
{
	display: inline-block;
	margin-right: 1rem;
}

.whiteLabel
{
	background-color: white;
	padding: 1rem;
	margin-bottom: 1rem;
}

.boxLabel
{
	padding: 1rem;
	background-color: white;
	border-bottom: 2px solid #e3e3e3;
}

/* after the class grid, clear styling */
.grid:after
{
	content: "";
	display: block;
	clear: both;
}

/* specify that all objects use the border-box model */
*, *:after, *:before
{
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------------- */

/* footer grid */
#footer
{
	text-align: center;
	padding: 0.1em;
	background-color: #ac9d8a;
	color: white;
}

/* ---------------------------------------------------------------------------------------------- */

/* when the display has a width less than 490px */
@media (max-width:1070px) 
{
	.menu
	{
		width: 100%;
		margin: 0;
	}

	.top
	{
		width: 100%;
	}

	.col-1of2
	{
		width: 100%;
	}
}

/* ---------------------------------------------------------------------------------------------- */

/* styling for packages page */
div .optionContent
{
	padding: 1rem;
	background: white;
}

.optionContent h1
{
	margin-bottom: 0.5rem;
}

.optionContent figure
{
	display: inline-block;
	margin-right: 1rem;
}

.optionContent p
{
	display: inline-block;
}

.optionBottomBar
{
	padding: 1rem;
	background-color: #b7b7b7;
	color: white;
}

.optionBottomBar h2
{
	display: inline-block;
	margin-right: 0.3rem;
}

.optionBottomBar h5
{
	display: inline-block;
}

.optionBottomBar a
{
	display: inline-block;
	float: right;
}

.viewMoreButton
{
	width: 100%;
	margin: 2rem 0;
}

/* ---------------------------------------------------------------------------------------------- */

/* dropdown styling */
.dropDown
{
	display: inline-block;
}

.dropDown ul ul /* hide submenus */
{
	display: none;
}

/* style submenus */
.dropDown ul li:hover > ul
{
	display: block;
	margin: 0;
	padding: 0;
}

.dropDown ul li:hover > ul li
{
	float: none;
	display: block;
}

.dropDown ul li:hover > ul li a
{
	color: white;
	min-width: 150px;
}

.dropDown ul li:hover > ul li a:hover
{
	color: black;
}

.dropDown ul
{
	padding: 0 1rem;
	list-style: none;
	position: relative;
	display: inline-block;
}

.dropDown ul li
{
	float: left;
	position: relative;
}

.dropDown ul li a
{
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: block;
	color: white;
}

.dropDown ul li:hover
{
	background: white;
}

.dropDown ul li:hover a
{
	color: black;
}

/* ---------------------------------------------------------------------------------------------- */

/* vacation wizard styling */
.floatingBox h3
{
	margin-bottom: 1rem;
}

