/* 	file name: grid.css *
	defining grids for the site
*/

/* when there is a class that contain col-, apply this styling */
.wrapper
{
	width: 80%;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.9);
}

/* when there is a class that contain col-, apply this styling */
[class*='col-']
{
	float: left;
	margin: 0;
}

.top
{
	display: inline-block;
	width: 30%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.buttons
{
	display: inline-block;
	float: right;
	margin-right: 1rem;
}

.menu
{
	display: inline-block;
	margin-top: 2.4rem;
	margin-bottom: 2rem;
}

.col-1of1
{
	width: 100%;
	margin-top: 1rem;
	padding: 0 1rem;
}

.col-1of2 
{
	width: 50%;
	padding-right: 1rem;
}

.col-1of2-padding
{
	width: 50%;
	padding: 0 1rem;
}

.col-1of3 
{
	width: 33.333%;
	padding: 1rem;
}

.col-1of4
{
	width: 25%;
	padding:  0.5rem 1rem;
	background-color: white;
}

.col-1of4 figure
{
	display: inline-block;
	margin-right: 0.5rem;
}

.col-1of4 p
{
	display: inline-block;
}

/* styling 2 column grid with different width */
.col-1of2left
{
	width: 60%;
	padding: 0 1rem;
}
.col-1of2right
{
	width: 40%;
	padding-right: 1rem;
}

.linkButton
{
	float: right;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
}

.floatingBox
{
	background-color: white;
	padding: 1rem;
	margin: 1rem 0;
	overflow: auto;
}

.grayLabel
{
	background-color: #b7b7b7;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.grayLabel h4
{
	display: inline-block;
	margin-right: 1rem;
}

.lightGrayLabel
{
	background-color: #f7f7f7;
	padding: 1rem;
	margin-bottom: 1rem;
}

.boxLabel
{
	padding: 1rem;
	background-color: white;
	border-bottom: 2px solid #e3e3e3;
}

/* after the class grid, clear styling */
.grid:after
{
	content: "";
	display: block;
	clear: both;
}

/* specify that all objects use the border-box model */
*, *:after, *:before
{
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------------- */

/* footer grid */
#footer
{
	text-align: center;
	padding: 0.1em;
	background-color: #ac9d8a;
	color: white;
}

/* ---------------------------------------------------------------------------------------------- */

/* when the display has a width less than 490px */
@media (max-width:1070px) 
{
	.menu
	{
		width: 100%;
		margin: 0;
	}

	.top
	{
		width: 100%;
	}

	.col-1of2
	{
		width: 100%;
	}

	.optionContent figure
	{
		width: 100%;
	}
}

@media (max-width: 850px)
{
	.col-1of2left
	{
		width: 100%;
		padding-right: 0;
	}

	.col-1of2right
	{
		width: 100%;
	}
}

@media (max-width: 1210px)
{
	.col-1of4
	{
		width: 50%;
	}
}

@media (max-width: 625px)
{
	.col-1of4
	{
		width: 100%;
	}
}

/* ---------------------------------------------------------------------------------------------- */

/* styling for packages page */
div .optionContent
{
	padding: 1rem;
	background: white;
}

.optionContent h2
{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.optionContent figure
{
	display: inline-block;
}

.optionContent p
{
	display: inline-block;
}

.optionBottomBar
{
	padding: 1rem;
	background-color: #b7b7b7;
	color: white;
}

.optionBottomBar h2
{
	display: inline-block;
	margin-right: 0.3rem;
}

.optionBottomBar h5
{
	display: inline-block;
}

.optionBottomBar a
{
	display: inline-block;
	float: right;
}

.viewMoreButton
{
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.viewMoreButton a
{
	width: 100%;
}

/* ---------------------------------------------------------------------------------------------- */

/* vacation wizard styling */
.floatingBox h3
{
	margin-bottom: 1rem;
}

