body
{
	font-family: 'Lato', sans-serif;
	font-size: 10pt;
	background-image: url(images/travel_wallpaper.jpg);
	background-color: #6cc2dd;
	color: #675845;

}

nav a, nav a:visited
{
	display: inline-block;
	background-color:#67c7bb;
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
	width:100%;
}

nav a:hover, nav a:active, nav a:focus
{
	background-color: #9c876b;
	color: white;
}

/* style for regular link */
a, a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

a:hover, a:active, a:focus
{
	background-color: #9c876b;
	color: white;
}

/* style for dropdown link */
.dropDown a, .dropDown a:visited
{
	background-color: white;
	color: #b7b7b7;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.dropDown a:hover, .dropDown a:active, .dropDown a:focus
{
	background-color: #9c876b;
	color: white;
}

/*font sizes relative to each other for whole site*/
h1
{
	text-decoration: none;
	font-size:2.5rem;
}

h2
{
	text-decoration: none;
	font-size:1.7rem;
}

h3
{
	text-decoration: none;
	font-size:1.4rem;
}

h4
{
	text-decoration: none;
	font-size:1rem;
}

h5
{
	text-decoration: none;
	font-size:0.8rem;
	font-weight: thin;
}

h6
{
	text-decoration: none;
	font-size:0.7rem;
}

p 
{
	font-size:1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#footer p
{
	font-size: 0.7rem;
	text-decoration: none;
	font-weight: thin;
	padding: 0.5rem;
}

img
{
	height: auto;
	width: auto;
	max-width: 100%;
}

figure
{
	margin-left: 0;
}

/* ---------------------------------------------------------------------------------------------- */

/* style for form */
#contact-form ul
{
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

#contact-form li
{
	padding: 0.5rem;
	position: relative;
}

form
{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #675845;
}

/* input area style */
#contact-form label
{
	width: 6rem;
	display: inline-block;
	float: left;
	padding-right: 1rem;
}

#contact-form input
{
	width: 20rem;
	height: 2rem;
	padding-left: 1rem;
}

#contact-form textarea
{
	width: 20rem;
	height: 10rem;
	padding: 0.5rem 1rem;
}

#contact-form button
{
	background-color: #67c7bb;
	color:white;
	padding: 0.5rem 1rem;
}

button.submit:hover
{
	background-color: #9c876b;
	color: white;
}