body
{
	margin: 0;
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	background-image: url('images/travel_wallpaper.jpg');
	background-color: #6cc2dd;
	color: #675845;
}

#wrapper
{
	width: 1000px;
	text-align: left;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.9);
}


/* control menu bar style */
header
{
	text-align: left;
	padding: 0;
}

.logo
{
	display: inline-block;
}

.navigation
{
	display: inline-block;
	margin-top: 1em;
	margin-bottom:1em;
	margin-left: 0;
	text-align: right;
}

.navigation a
{
	background-color: #67c7bb;
	color: white;
	text-decoration: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.navigation a:hover
{
	background-color: #9c876b;
	color: white;
}


/* image carousel style */
figure
{
	margin-left: 0;
}


/* content style */
#content
{
	margin-left: 2em;
}


/* footer style */
#footer
{
	text-align: center;
	padding: 0.1em;
	background-color: #ac9d8a;
	color: white;
}


/*font sizes relative to each other for whole site*/
h1
{
	text-decoration: none;
	font-size:2rem;
}

h2
{
	text-decoration: none;
	font-size:1.25rem;
}

h3
{
	text-decoration: none;
	font-size:1rem;
}

h4
{
	text-decoration: none;
	font-size:0.9rem;
}

h5
{
	text-decoration: none;
	font-size:0.8rem;
}

h6
{
	text-decoration: none;
	font-size:0.6rem;
}

p 
{
	text-decoration:none;
	font-size:0.75rem;
}