body
{
	font-family: 'Lato', sans-serif;
	font-size: 10pt;
	background-image: url(../images/travel_wallpaper.jpg);
	color: #827362;
	background-repeat: no-repeat;
	background-position:top center;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size: cover;
}

nav a, nav a:visited
{
	display: inline-block;
	background-color:#67c7bb;
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

nav a:hover, nav a:active, nav a:focus
{
	background-color: #4A8F86;
	color: white;
}

nav.inBody a, nav a:visited
{
	display: inline-block;
	background-color:#67c7bb;
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

nav.inBody a:hover, nav a:active, nav a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for regular link */
.linkButton a, .linkButton a:visited
{
	width: 100%;
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	display: inline-block;
}

.linkButton a:hover, .linkButton a:active, .linkButton a:focus
{
	width: 100%;
	background-color: #4A8F86;
	color: white;
}

.linkButtonLeft a, .linkButtonLeft a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	display: inline-block;
}

.linkButtonLeft a:hover, .linkButtonLeft a:active, .linkButtonLeft a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for view more link */
.viewMoreButton a, .viewMoreButton a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	display: inline-block;
	text-align: center;
}

.viewMoreButton a:hover, .viewMoreButton a:active, .viewMoreButton a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for view more link */
.toTopButton a, .toTopButton a:visited
{
	background-color:#DCD0C4;
	color:#635E58;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	display: inline-block;
	text-align: center;
}

.toTopButton a:hover, .toTopButton a:active, .toTopButton a:focus
{
	background-color: #C6BBB0;
	color: #635E58;
}

/* style for link in brown label */
.brownLabel a, .brownLabel a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	margin-right: 1rem;
	display: inline-block;
}

.brownLabel a:hover, .brownLabel a:active, .brownLabel a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for link that is placed inside a label */
.linkInsideLabel a, .linkInsideLabel a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
}

.linkInsideLabel a:hover, .linkInsideLabel a:active, .linkInsideLabel a:focus
{
	background-color: #4A8F86;
	color: white;
}

/*font sizes relative to each other for whole site*/
h1
{
	font-size:2.5rem;
	color: #0bb9b9;
}

h2
{
	font-size:1.6rem;
	margin-bottom: 0.5rem;
}

h3
{
	font-size:1.3rem;
}

h4
{
	font-size:1rem;
}

h5
{
	font-size:0.8rem;
	font-weight: thin;
}

p 
{
	font-size:1rem;
}

#footer p
{
	font-size: 0.7rem;
	text-decoration: none;
	font-weight: thin;
	padding: 0.5rem;
}

img
{
	height: auto;
	width: auto;
	max-width: 100%;
}

.lightGrayLabel img
{
	margin-right: 0.5rem;
	float: left;
}

.lighGrayLabel p
{
	display: inline-block;
}

figure
{
	margin-left: 0;
}

/* ------------------------------------ FORM STYLE ---------------------------------------------------------- */

#contact-form ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#contact-form li
{
	padding: 0.5rem 0;
}

form
{
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	color: #827362;
}

/* input area style */
#contact-form label
{
	width: 50%;
	float: left;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

#contact-form input
{
	width: 100%;
	height: 2rem;
	padding-left: 0.5rem;
}

#contact-form textarea
{
	width:100%;
	height: 10rem;
	padding: .5rem;
	resize: none;
}

#contact-form button
{
	float: right;
	background-color: #67c7bb;
	color:white;
	padding: 0.5rem 1rem;
	border: 0;
	font-size: 0.8rem;
}

#contact-form button:hover
{
	background-color: #4A8F86;
	color: white;
	border: 0;
	font-size: 0.8rem;
}

#payment-method ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#payment-method li
{
	margin-bottom: 0.5rem;
	padding: 0.5rem 0;
	border-bottom: 2px solid #e3e3e3;
}

#payment-method label
{
	width: 100%;
	float: left;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

/* ------------------------------------------- INDEX --------------------------------------------------- */

.lightGrayLabel h4
{
	border-bottom: 2px solid #e3e3e3;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

.floatingBox figure
{
	margin-bottom: 0.5rem;
}

.deal, .deal:active
{
	width: 100%;
	display: inline-block;
}

.deal:hover, .deal:active, .deal:focus
{
	background-color: #f7f7f7;
}

.deal
{
	border-bottom: 1px solid #e3e3e3;
}

.deal h4
{
	padding: 0.5rem 0;
	width: 70%;
	float: left;
}

h4.dealInfo-new
{
	padding: 0.5rem 0;
	width: 30%;
	text-align: center;
	color: #CC0066;
	border-left: 1px solid #e3e3e3;
}

h4.dealInfo
{
	padding: 0.5rem 0;
	width: 30%;
	text-align: center;
	color: #3399FF;
	border-left: 1px solid #e3e3e3;
}

.linkButton
{
	width: 30%;
	text-align: center;
}

.linkButton a.seeMoreButton-index
{
	width: 100%;
}

a .deal > h4.dealName
{
	color: #827362;
}

/* ---------------------------------------- FOR FIXED SCROLL ------------------------------------------- */

.fixed
{
	position: fixed;
	top: 5.6rem;
	width: 26%;

}

/* ---------------------------------------- IMAGES LABEL HOVER ------------------------------------------- */

div.travelAnywhere
{
	background-image: url('../images/index-travelAnywhere.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: white;
}

.travelAnywhere .adButton
{
	width: 30%;
	background-color: rgba(0,153,153,0.7);
	padding: 1rem;
}

.travelAnywhere .adButton:hover
{
	width: 30%;
	background-color: rgba(0,102,102,0.7);
	padding: 1rem;
}

.adButton h3
{
	border-bottom: 1px solid white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.7rem;
}

.adButton p
{
	padding-bottom: 1rem;
	padding-top: 1rem;
}

div.allInclusive
{
	background-image: url('../images/index-allInclusive.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
}

.floatingBox a
{
	color: white;
	text-decoration: none;
}

.allInclusive .adButton
{
	margin-top: 8rem;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgba(0,128,255,0.7);
}

.allInclusive .adButton:hover
{
	margin-top: 8rem;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgba(0,76,153,0.7);
}

div.mexicoPromo
{
	background-image: url('../images/index-mexico.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
}

.mexicoPromo .adButton
{
	margin: 1rem 0;
	width: 45%;
	padding: 0.5rem 1rem;
	background-color: rgba(255,153,51,0.7);
}

.mexicoPromo .adButton:hover
{
	margin: 1rem 0;
	width: 45%;
	padding: 0.5rem 1rem;
	background-color: rgba(153,76,0,0.7);
}

div.disneyPromo
{
	background-image: url('../images/index-disney.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
	overflow: auto;
}

.disneyPromo .adButton
{
	margin-top: 20rem;
	margin-bottom: 1rem;
	width: 70%;
	padding: 0.5rem 1rem;
	background-color: rgba(204,0,0,0.7);
	float: right;
}

.disneyPromo .adButton:hover
{
	margin-top: 20rem;
	margin-bottom: 1rem;
	width: 70%;
	padding: 0.5rem 1rem;
	background-color: rgba(102,0,0,0.7);
	float: right;
}


/* ---------------------------------------- VACATION WIZARD ------------------------------------------- */

p.wizard
{
	padding-bottom: 0.5rem;
}

p.wizard-end
{
	padding-bottom: 1rem;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 1rem;
}

div.amazingTokyo
{
	background-image: url('../images/package-amazingTokyo.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
	overflow: auto;
}

div.amazingTokyo a
{
	color: white;
	text-decoration: none;
}

.amazingTokyo .adButton
{
	width: 100%;
	background-color: rgba(0,153,153,0.7);
	padding: 1rem;
	margin-bottom: 10rem;
}

.amazingTokyo .adButton:hover
{
	width: 100%;
	background-color: rgba(0,102,102,0.7);
	padding: 1rem;
	margin-bottom: 10rem;
}

div.uniqueCayoCoco
{
	background-image: url('../images/package-cayoCoco.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
	overflow: auto;
}

div.uniqueCayoCoco a
{
	color: white;
	text-decoration: none;
}

.uniqueCayoCoco .adButton
{
	width: 100%;
	background-color: rgba(0,153,153,0.7);
	padding: 1rem;
	margin-bottom: 10rem;
}

.uniqueCayoCoco .adButton:hover
{
	width: 100%;
	background-color: rgba(0,102,102,0.7);
	padding: 1rem;
	margin-bottom: 10rem;
}

div.romanticParis
{
	background-image: url('../images/package-romanticParis.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
	overflow: auto;
}

div.romanticParis a
{
	color: white;
	text-decoration: none;
}

.romanticParis .adButton
{
	width: 100%;
	background-color: rgba(0,153,153,0.7);
	padding: 1rem;
	margin-bottom: 10rem;
}

.romanticParis .adButton:hover
{
	width: 100%;
	background-color: rgba(0,102,102,0.7);
	padding: 1rem;
	margin-bottom: 10rem;
}


/* ---------------------------------------- FOR ABOUT US PAGE ------------------------------------------- */

.listValues, .listValues:active
{
	width: 100%;
	display: inline-block;
}

.listValues:hover, .listValues:active, .listValues:focus
{
	background-color: #f7f7f7;
}

.listValues h4
{
	padding: 0.5rem 0;
	width: 100%;
	margin-left: 1rem;
}

a .listValues > h4.valueName
{
	color: #827362;
}

a.listValues:hover
{
	color: #4A8F86;
}

/* picture column on the right */

div.careerPromo
{
	background-image: url('../images/about-career.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
	overflow: auto;
}

div.careerPromo a
{
	color: white;
	text-decoration: none;
}

.careerPromo .adButton
{
	width: 100%;
	background-color: rgba(0,153,153,0.7);
	padding: 1rem;
	margin-bottom: 10rem;
}

.careerPromo .adButton:hover
{
	width: 100%;
	background-color: rgba(0,102,102,0.7);
	padding: 1rem;
	margin-bottom: 10rem;
}

div.valuesPromo
{
	background-image: url('../images/about-familyVacation.jpg');
	background-repeat: no-repeat;
	background-position: bottom bottom;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
	overflow: auto;
}

div.valuesPromo a
{
	color: white;
	text-decoration: none;
}

.valuesPromo .adButton
{
	width: 100%;
	background-color: rgba(0,153,153,0.7);
	padding: 1rem;
	margin-bottom: 20rem;
}

.valuesPromo .adButton:hover
{
	width: 100%;
	background-color: rgba(0,102,102,0.7);
	padding: 1rem;
	margin-bottom: 20rem;
}

/*for customer reviews*/

.customerReview h4
{
	padding: 0.5rem 0;
	width: 100%;
	margin-left: 0rem;
}

.customerReview h4.customerName a
{
	color: #67c7bb;
}

.customerReview h4.customerName a:hover
{
	color: #4A8F86;
}


/* ---------------------------------------- FOR NAVIGATION BAR ------------------------------------------- */

.homeIcon
{
	padding-left: 1rem;
	background: url(../images/icon-home.png) no-repeat left;
	background-size: contain;
}

.packageIcon
{
	padding-left: 1rem;
	background: url(../images/icon-packages.png) no-repeat left;
	background-size: contain;
}

.galleryIcon
{
	padding-left: 1rem;
	background: url(../images/icon-gallery.png) no-repeat left;
	background-size: contain;
}

.aboutUsIcon
{
	padding-left: 1rem;
	background: url(../images/icon-aboutUs.png) no-repeat left;
	background-size: contain;
}

.contactUsIcon
{
	padding-left: 1rem;
	background: url(../images/icon-contactUs.png) no-repeat left;
	background-size: contain;
}

/* ---------------------------------------- FOR VACATION PACKAGE ------------------------------------------- */


h1.vacationPackage
{
	margin-top: 1rem;
}


/* ---------------------------------------- FOR CONTACT US ------------------------------------------- */

div.chat
{
	background-image: url('../images/contact-chat.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
	height: 150px;
}

.chat .adButton
{
	width: 50%;
	padding-top: 1rem ;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: rgba(0,128,255,0.7);
	height: 150px;
}

.chat .adButton:hover
{
	width: 50%;
	padding-top: 1rem ;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: rgba(0,76,153,0.7);
	height: 150px;
}

/* ---------------------------------------- FOR VACATION ITINERARY ------------------------------------------- */

figure.itinerary
{
	position: relative;
}

figure.itinerary figcaption
{
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	color: white;
	width: 100%;
	font-size: 1rem;
	padding: 0.5rem;
}

/* ---------------------------------------- FOR GALLERY -------------------------------------------- */


#gallery-popular
{
	margin-bottom: 1rem;
}

#gallery-popular h2
{
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

#gallery-tropical
{
	margin-bottom: 1rem;
}

#gallery-tropical h2
{
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

#gallery-winter
{
	margin-bottom: 1rem;
}

#gallery-winter h2
{
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

#gallery-adventure
{
	margin-bottom: 1rem;
}

#gallery-adventure h2
{
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

#gallery-romantic
{
	margin-bottom: 1rem;
}

#gallery-romantic h2
{
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

#gallery-citylife
{
	margin-bottom: 1rem;
}

#gallery-citylife h2
{
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

/* ---------------------------------------- FOR VACATION BOOKING PAGE -------------------------------------------- */

div.fixed div.floatingBox > h4.tripsummary
{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

div.fixed div.floatingBox > p
{
	border-bottom: 2px solid #e3e3e3;
	padding: 0.5rem 0;
}

h3.tripsummary
{
	padding-bottom: 1rem;
	border-bottom: 2px solid #e3e3e3;
}

.tripSummaryLabel
{
	background-color: gray;
	padding: 1rem;
	margin-top: 1rem;
	color: white;
}
