body
{
	font-family: 'Lato', sans-serif;
	font-size: 10pt;
	background-image: url(../images/travel_wallpaper.jpg);
	color: #675845;
	background-repeat: no-repeat;
	background-position:top center;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size: cover;
}

nav a, nav a:visited
{
	display: inline-block;
	background-color:#67c7bb;
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

nav a:hover, nav a:active, nav a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for regular link */
.linkButton a, .linkButton a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	display: inline-block;
}

.linkButton a:hover, .linkButton a:active, .linkButton a:focus
{
	background-color: #4A8F86;
	color: white;
}

.linkButtonLeft a, .linkButtonLeft a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
}

.linkButtonLeft a:hover, .linkButtonLeft a:active, .linkButtonLeft a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for view more link */
.viewMoreButton a, .viewMoreButton a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	display: inline-block;
	text-align: center;
}

.viewMoreButton a:hover, .viewMoreButton a:active, .viewMoreButton a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for link in brown label */
.brownLabel a, .brownLabel a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	margin-right: 1rem;
	display: inline-block;
}

.brownLabel a:hover, .brownLabel a:active, .brownLabel a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for link that is placed inside a label */
.linkInsideLabel a, .linkInsideLabel a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
}

.linkInsideLabel a:hover, .linkInsideLabel a:active, .linkInsideLabel a:focus
{
	background-color: #4A8F86;
	color: white;
}

/*font sizes relative to each other for whole site*/
h1
{
	text-decoration: none;
	font-size:2.5rem;
}

h2
{
	text-decoration: none;
	font-size:1.7rem;
}

h3
{
	text-decoration: none;
	font-size:1.4rem;
}

h4
{
	text-decoration: none;
	font-size:1rem;
}

h5
{
	text-decoration: none;
	font-size:0.8rem;
	font-weight: thin;
}

p 
{
	font-size:1rem;
}

#footer p
{
	font-size: 0.7rem;
	text-decoration: none;
	font-weight: thin;
	padding: 0.5rem;
}

img
{
	height: auto;
	width: auto;
	max-width: 100%;
}

.lightGrayLabel img
{
	margin-right: 0.5rem;
}

figure
{
	margin-left: 0;
}

/* ------------------------------------ FORM STYLE ---------------------------------------------------------- */

#contact-form ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#contact-form li
{
	padding: 0.5rem 0;
}

form
{
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	color: #675845;
}

/* input area style */
#contact-form label
{
	width: 50%;
	float: left;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

#contact-form input
{
	width: 100%;
	height: 2rem;
	padding-left: 0.5rem;
}

#contact-form textarea
{
	max-width: 100%;
	height: 100px;
	padding: 1rem;
}

#contact-form button
{
	float: right;
	width: 40%;
	background-color: #67c7bb;
	color:white;
	padding: 0.5rem 1rem;
}

button:hover
{
	background-color: #9c876b;
	color: white;
}

#payment-method ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#payment-method li
{
	margin-bottom: 0.5rem;
	padding: 0.5rem 0;
	border-bottom: 2px solid #e3e3e3;
}

#payment-method label
{
	width: 100%;
	float: left;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

/* ------------------------------------------- INDEX --------------------------------------------------- */

.lightGrayLabel h4
{
	border-bottom: 2px solid #e3e3e3;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

.floatingBox figure
{
	margin-bottom: 0.5rem;
}

/* ---------------------------------------- BOF FOLLOW SCROLL ------------------------------------------- */

.fixed
{
	position: fixed;
	top: 13rem;
}