body
{
	font-family: 'Lato', sans-serif;
	font-size: 10pt;
	background-image: url(../images/travel_wallpaper.jpg);
	color: #675845;
	background-repeat: no-repeat;
	background-position:top center;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size: cover;
}

nav a, nav a:visited
{
	display: inline-block;
	background-color:#67c7bb;
	color: white;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

nav a:hover, nav a:active, nav a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for regular link */
.linkButton a, .linkButton a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	display: inline-block;
}

.linkButton a:hover, .linkButton a:active, .linkButton a:focus
{
	background-color: #4A8F86;
	color: white;
}

.linkButtonLeft a, .linkButtonLeft a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
}

.linkButtonLeft a:hover, .linkButtonLeft a:active, .linkButtonLeft a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for view more link */
.viewMoreButton a, .viewMoreButton a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	display: inline-block;
	text-align: center;
}

.viewMoreButton a:hover, .viewMoreButton a:active, .viewMoreButton a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for link in brown label */
.brownLabel a, .brownLabel a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
	margin-right: 1rem;
	display: inline-block;
}

.brownLabel a:hover, .brownLabel a:active, .brownLabel a:focus
{
	background-color: #4A8F86;
	color: white;
}

/* style for link that is placed inside a label */
.linkInsideLabel a, .linkInsideLabel a:visited
{
	background-color:#67c7bb;
	color:white;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
}

.linkInsideLabel a:hover, .linkInsideLabel a:active, .linkInsideLabel a:focus
{
	background-color: #4A8F86;
	color: white;
}

/*font sizes relative to each other for whole site*/
h1
{
	text-decoration: none;
	font-size:2.5rem;
}

h2
{
	text-decoration: none;
	font-size:1.7rem;
	margin-bottom: 0.5rem;
}

h3
{
	text-decoration: none;
	font-size:1.4rem;
}

h4
{
	text-decoration: none;
	font-size:1rem;
}

h5
{
	text-decoration: none;
	font-size:0.8rem;
	font-weight: thin;
}

p 
{
	font-size:1rem;
}

#footer p
{
	font-size: 0.7rem;
	text-decoration: none;
	font-weight: thin;
	padding: 0.5rem;
}

img
{
	height: auto;
	width: auto;
	max-width: 100%;
}

.lightGrayLabel img
{
	margin-right: 0.5rem;
}

figure
{
	margin-left: 0;
}

/* ------------------------------------ FORM STYLE ---------------------------------------------------------- */

#contact-form ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#contact-form li
{
	padding: 0.5rem 0;
}

form
{
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	color: #675845;
}

/* input area style */
#contact-form label
{
	width: 50%;
	float: left;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

#contact-form input
{
	width: 100%;
	height: 2rem;
	padding-left: 0.5rem;
}

#contact-form textarea
{
	width:100%;
	height: 10rem;
	padding: 1rem;
	resize: none;
}

#contact-form button
{
	float: right;
	background-color: #67c7bb;
	color:white;
	padding: 0.5rem 1rem;
	border: 0;
	font-size: 0.8rem;
}

#contact-form button:hover
{
	background-color: #4A8F86;
	color: white;
	border: 0;
	font-size: 0.8rem;
}

#payment-method ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#payment-method li
{
	margin-bottom: 0.5rem;
	padding: 0.5rem 0;
	border-bottom: 2px solid #e3e3e3;
}

#payment-method label
{
	width: 100%;
	float: left;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

/* ------------------------------------------- INDEX --------------------------------------------------- */

.lightGrayLabel h4
{
	border-bottom: 2px solid #e3e3e3;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

.floatingBox figure
{
	margin-bottom: 0.5rem;
}

/* ---------------------------------------- FOR FIXED SCROLL ------------------------------------------- */

.fixed
{
	position: fixed;
	top: 13rem;
}

/* ---------------------------------------- IMAGES LABEL HOVER ------------------------------------------- */

div.travelAnywhere
{
	background-image: url('../images/index-travelAnywhere.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: white;
}

.travelAnywhere .adButton
{
	width: 30%;
	background-color: rgba(0,153,153,0.7);
	padding: 1rem;
}

.travelAnywhere .adButton:hover
{
	width: 30%;
	background-color: rgba(0,102,102,0.7);
	padding: 1rem;
}

.adButton h3
{
	border-bottom: 1px solid white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.7rem;
}

.adButton p
{
	padding-bottom: 1rem;
	padding-top: 1rem;
}

div.allInclusive
{
	background-image: url('../images/index-allInclusive.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
}

.allInclusive .adButton
{
	margin-top: 8rem;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgba(0,128,255,0.7);
}

.allInclusive .adButton:hover
{
	margin-top: 8rem;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgba(0,76,153,0.7);
}

div.mexicoPromo
{
	background-image: url('../images/index-mexico.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
}

.mexicoPromo .adButton
{
	margin: 1rem 0;
	width: 45%;
	padding: 0.5rem 1rem;
	background-color: rgba(255,153,51,0.7);
}

.mexicoPromo .adButton:hover
{
	margin: 1rem 0;
	width: 45%;
	padding: 0.5rem 1rem;
	background-color: rgba(153,76,0,0.7);
}

div.disneyPromo
{
	background-image: url('../images/index-disney.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: white;
	margin-bottom: 0.5rem;
	overflow: auto;
}

.disneyPromo .adButton
{
	margin-top: 20rem;
	margin-bottom: 1rem;
	width: 70%;
	padding: 0.5rem 1rem;
	background-color: rgba(204,0,0,0.7);
	float: right;
}

.disneyPromo .adButton:hover
{
	margin-top: 20rem;
	margin-bottom: 1rem;
	width: 70%;
	padding: 0.5rem 1rem;
	background-color: rgba(102,0,0,0.7);
	float: right;
}